:root {
    --main-color: #3162da;
    scroll-behavior: smooth;
}

::-webkit-scrollbar,
::-webkit-scrollbar {
    width: 4px;
    height: 10px;
}

::-webkit-scrollbar-track {
    /* border-radius: 100vh; */
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #fff;
}

a {
    cursor: pointer;
}
.test {
    width: 50px;
}
.mainbtn {
    padding: 16px 24px;
    background-color: var(--main-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.secondbtn {
    padding: 16px 24px;
    background-color: white;
    color: #adb3da;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #adb3da;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    background-color: var(--main-color);
    color: white;
    border-radius: 50%; /* Makes it circular */
    width: 30px;
    padding: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px !important;
    position: absolute;
}

.swiper-button-next::after {
    inset-inline-start: 0px;
    inset-block-start: -130px;
}
.swiper-button-prev::after {
    inset-inline-start: 300px;
    inset-block-start: -130px;
}

@media (min-width: 768px) {
    .swiper-button-next::after {
        inset-inline-start: 0px;
        inset-block-start: -130px;
    }
    .swiper-button-prev::after {
        inset-inline-start: 600px;
        inset-block-start: -130px;
    }
}
@media (min-width: 992px) {
    .swiper-button-next::after {
        inset-inline-start: 0px;
        inset-block-start: -130px;
    }
    .swiper-button-prev::after {
        inset-inline-start: 800px;
        inset-block-start: -130px;
    }
}
@media (min-width: 1280px) {
    .swiper-button-next::after {
        inset-inline-start: 0px;
        inset-block-start: -130px;
    }
    .swiper-button-prev::after {
        inset-inline-start: 1000px;
        inset-block-start: -130px;
    }
}

.swiper-thumbs .swiper-wrapper {
    display: flex !important;
    flex-direction: column !important;
    gap: 15px !important;
    width: fit-content;
    margin: 0 !important;
    padding: 0 !important;
}
