:root {
    --main-color: #3162da;
    scroll-behavior: smooth;
}

a {
    cursor: pointer;
}
.test {
    width: 50px;
}
.mainbtn {
    padding: 16px 24px;
    background-color: var(--main-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.secondbtn {
    padding: 16px 24px;
    background-color: white;
    color: #adb3da;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #adb3da;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.dangerbtn {
    padding: 16px 24px;
    background-color: white;
    color: #fe4340;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #fe4340;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.secondbtn:hover {
    padding: 16px 24px;
    background-color: var(--main-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    background-color: var(--main-color);
    color: white;
    border-radius: 50%; /* Makes it circular */
    width: 30px;
    padding: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px !important;
    position: absolute;
}
.swiper-button-next::after {
    left: 50px;
    /*Closertotheleftedge*/
    bottom: 140px;
    /*Centersvertically*/
}
.swiper-button-prev::after {
    right: 200px;
    /*Closertotheleftedge*/
    bottom: 140px;
}

@media (min-width: 992px) {
    .swiper-button-prev::after {
        right: 800px;
        /*Closertotheleftedge*/
        bottom: 140px;
    }
}
@media (min-width: 1200px) {
    .swiper-button-prev::after {
        right: 1000px;
        /*Closertotheleftedge*/
        bottom: 140px;
    }
}
@media (min-width: 1400px) {
    .swiper-button-next::after {
        left: 50px;
        /*Closertotheleftedge*/
        bottom: 140px;
        /*Centersvertically*/
    }
    .swiper-button-prev::after {
        right: 1100px;
        /*Closertotheleftedge*/
        bottom: 140px;
    }
}
