@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #3162da;
    scroll-behavior: smooth;
}
::-webkit-scrollbar,
::-webkit-scrollbar {
    width: 2px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

body {
    @apply font-poppins;
}

a {
    cursor: pointer;
}

textarea {
    resize: none;
}
/* /////////////////////////////////////////////// */
.mainbtn {
    padding: 16px 24px;
    background-color: var(--main-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.secondbtn {
    padding: 16px 24px;
    background-color: white;
    color: #adb3da;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #adb3da;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
/* ////////////////////////////////////////////////// */

.maininput {
    @apply w-full;
}
.maininput input {
    @apply focus:outline-none p-3 text-sm w-full h-12 font-bold border border-stroke rounded-xl;
}
.maininput textarea {
    @apply focus:outline-none p-3 text-sm w-full h-36 font-bold border border-stroke rounded-xl;
}
.otp {
    @apply flex;
}
.otp input {
    @apply focus:outline-none p-4 text-center text-sm w-full h-12 font-bold border border-light rounded-xl flex items-center;
}
.error input {
    @apply focus:outline-none p-4 text-center text-sm w-full h-12 font-bold border border-danger rounded-xl flex items-center;
}
.phoneinput {
    @apply flex w-full gap-0 justify-center;
}
/* ////////////////////////////////////////////////// */
.swiper-thumbs .swiper-wrapper {
    display: flex !important;
    flex-direction: column !important;
    gap: 15px !important;
    margin: 0 !important;
    padding: 0 !important;
}
/* ///////////////////////////////////  */
